.active-link {
  font-weight: bold;
  border-left: 3px solid green;
}

.sidenav {
  width: 200px;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
