@import '~@angular/material/theming';
@include mat-core();

$lemon-mart-primary: mat-palette($mat-green, 800);
$lemon-mart-accent: mat-palette($mat-lime, A400);
$lemon-mart-app-theme: mat-light-theme($lemon-mart-primary, $lemon-mart-accent);

@include angular-material-theme($lemon-mart-app-theme);
